.background {
    height: 100%;
    border-radius:0px;
}
.searchBar{
    height: 38px;
    border-radius: 12px;
    background-color: #eee;
}
.searchBarColInput{
    padding: 4px;
}
.searchBarInputUsername{
    color: #111;
}
.searchBarColButton{
    padding: 3px;
}
.searchBarDivider{
    height: 100%;
}
.searchBarColDivider{
    padding-top: 6px;
    padding-bottom: 6px;
}
.colSearchBar{
    margin:auto;
}
.title{
    font-weight: bolder;
    font-size: 102px;
    border-radius:0px;
}
.tagCol{
    display: flex;
    align-items: center;
    background: rgba(7, 14, 29, 0.1);
    border-radius: 6px;
    margin-left: 20px;
    
}
.tagCol:focus-within{
    display: flex;
    align-items: center;
    background: rgba(7, 14, 29, 0.6);
    border-radius: 6px;
    margin-left: 20px;
}
.searchBarInputTag:focus-within{
    color:#eee
}
@media only screen and (max-width: 768px) {
    .title{
        font-size: 50px
    }
}

