.headerContainer{
    height:250;
}
.headerSignIn{
    text-align: right;
}
.headerSignInButton{
    color:#fff;
    font-weight:bold;

}
.headerSignInButton:hover {
    color:#ff4b4b;
}
.headerLogo{
    color:#fff;
    font-size:20;
    font-Weight:bold;
}