/*@keyframes SearchBarAppear {
    0% {
        transform: translateY(-200%);
        position: sticky;
        top:0;
    } 
    100% {
      transform: translateY(0%);
      position: sticky;
      top:0;
    }
  }*/
.headerSearchBar{
    /*animation-name: SearchBarAppear;
    animation-duration: 400ms;*/
    height: 60px;
    background-color: slategrey;
}
.headerSearchBarColInput{
    padding: 5px;
}
.headerSearchBarInput{
    color: #fff;
    height: 100%;
}
.headerSearchBarColButton{
    padding: 4px;
}
.headerSearchBarButton{
    color: #fff;
    height: 100%;
}
.headerColSearchBar{
    margin:auto;
}
