.headerContainer{
    height:250;
}
.headerColSignIn{
    text-align: right;
    margin:auto;
}
.headerSignInButton{
    color:#fff;
    font-weight:bold;

}
.headerSignInButton:hover {
    color:#EF6F6C;
}
.headerLogo{
    color:#fff;
    font-size:20;
    font-Weight:bold;
    margin:auto;
    padding-left: 5px;
}
.headerSearchBar{
    height: 38px;
    border-radius: 12px;
    background-color: slategrey;
}
.headerSearchBarColInput{
    padding: 4px;
}
.headerSearchBarInput{
    color: #fff;
}
.headerSearchBarColButton{
    padding: 3px;
}
.headerSearchBarButton{
    color: #fff;
}
.headerSearchBarDivider{
    height: 100%;
}
.headerSearchBarColDivider{
    padding-top: 6px;
    padding-bottom: 6px;
}
.headerColSearchBar{
    margin:auto;
}
.headerColLogo{
    margin:auto;
}
.headerRow{
    background-color:#465775;
    height:60px;
}