.headerColSignIn{
    text-align: right;
    margin:auto;
}
.headerSignInButton{
    color:#fff;
    font-weight:bold;

}
.headerSignInButton:hover {
    color:#EF6F6C;
}
.headerLogo{
    color:#fff;
    font-size:20px;
    font-Weight:bold;
    margin:auto;
    padding-left: 5px;
}
.headerSearchBar{
    height: 38px;
    border-radius: 12px;
    background-color: #48515a;
}
.headerSearchBarColInput{
    padding: 4px;
}
.headerSearchBarInput{
    color: #fff;
}
.headerSearchBarColButton{
    padding: 3px;
}
.headerSearchBarButton{
    color: #fff;
}
.headerSearchBarDivider{
    height: 100%;
}
.headerSearchBarColDivider{
    padding-top: 6px;
    padding-bottom: 6px;
}
.headerColSearchBar{
    margin:auto;
}
.headerColLogo{
    margin:auto;
}
.headerRow{
    background-color:#211a4c;
    height:60px;
}
.headerThemeButton{
    height: 32px !important;
    width: 32px !important;
    color: #fff !important;
    padding: 4px !important;
}
@media (max-width: 991px){
    .headerLogo{
        font-size: 18px;
        padding-left: 4px;
    }
    .headerSignInButton{
        font-size: 12px;
    }
}
